Q.1 To demonstrate Naive Bayes classier on numeric data using GaussianNB

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
from sklearn.datasets import load_wine
data_numeric = load_wine()

In [0]:
#Converting the wine dataset into pandas DataFrame
data_numeric = pd.DataFrame(data=np.c_[data_numeric['data'],data_numeric['target']],
                            columns=data_numeric['feature_names']+['target'])

In [52]:
data_numeric.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0    14.23        1.71  2.43  ...                          3.92   1065.0     0.0
1    13.20        1.78  2.14  ...                          3.40   1050.0     0.0
2    13.16        2.36  2.67  ...                          3.17   1185.0     0.0
3    14.37        1.95  2.50  ...                          3.45   1480.0     0.0
4    13.24        2.59  2.87  ...                          2.93    735.0     0.0

[5 rows x 14 columns]

In [53]:
data_numeric['target'].value_counts()

1.0    71
0.0    59
2.0    48
Name: target, dtype: int64

In [0]:
X_numeric = data_numeric.drop(['target'],axis=1)
y_numeric = data_numeric['target']

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
X_train_numeric,X_test_numeric,y_train_numeric,y_test_numeric = train_test_split(X_numeric,y_numeric,test_size=0.2,random_state=50)

In [56]:
gaussian_model = GaussianNB()
gaussian_model.fit(X_train_numeric,y_train_numeric)
gaussian_model.score(X_train_numeric,y_train_numeric)

0.9929577464788732

In [57]:
print("--                  -GAUSSIAN MODEL--                  --")
print("\nTRAIN ACCURACY : {}".format(gaussian_model.score(X_train_numeric,y_train_numeric)))
print("\nTEST ACCURACY : {}".format(gaussian_model.score(X_test_numeric,y_test_numeric)))

--                  -GAUSSIAN MODEL--                  --

TRAIN ACCURACY : 0.9929577464788732

TEST ACCURACY : 0.9722222222222222

In [58]:
from sklearn.metrics import confusion_matrix
y_pred_numeric = gaussian_model.predict(X_test_numeric)
confusion_matrix(y_test_numeric,y_pred_numeric)

array([[12,  1,  0],
       [ 0, 14,  0],
       [ 0,  0,  9]])

Q.2 To demonstrate Naive Bayes classier on nominal data using NominalNB function
Dataset - https://www.kaggle.com/uciml/mushroom-classication

In [0]:
data_nominal =pd.read_csv('/content/mushrooms.csv')

In [60]:
data_nominal.head()

  class cap-shape cap-surface  ... spore-print-color population habitat
0     p         x           s  ...                 k          s       u
1     e         x           s  ...                 n          n       g
2     e         b           s  ...                 n          n       m
3     p         x           y  ...                 k          s       u
4     e         x           s  ...                 n          a       g

[5 rows x 23 columns]

In [61]:
data_nominal.columns

Index(['class', 'cap-shape', 'cap-surface', 'cap-color', 'bruises', 'odor',
       'gill-attachment', 'gill-spacing', 'gill-size', 'gill-color',
       'stalk-shape', 'stalk-root', 'stalk-surface-above-ring',
       'stalk-surface-below-ring', 'stalk-color-above-ring',
       'stalk-color-below-ring', 'veil-type', 'veil-color', 'ring-number',
       'ring-type', 'spore-print-color', 'population', 'habitat'],
      dtype='object')

In [62]:
data_nominal.shape

(8124, 23)

In [63]:
data_nominal['class'].value_counts()

e    4208
p    3916
Name: class, dtype: int64

In [0]:
X = data_nominal.drop(['class'],axis=1)
y = data_nominal['class']

In [0]:
cols = ['cap-shape', 'cap-surface', 'cap-color', 'bruises', 'odor',
 'gill-attachment', 'gill-spacing', 'gill-size', 'gill-color',
 'stalk-shape', 'stalk-root', 'stalk-surface-above-ring',
 'stalk-surface-below-ring', 'stalk-color-above-ring',
 'stalk-color-below-ring', 'veil-type', 'veil-color', 'ring-number',
 'ring-type', 'spore-print-color', 'population', 'habitat']

In [0]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in cols:
 X[col]=le.fit_transform(X[col])

In [67]:
X.head()

   cap-shape  cap-surface  cap-color  ...  spore-print-color  population  habitat
0          5            2          4  ...                  2           3        5
1          5            2          9  ...                  3           2        1
2          0            2          8  ...                  3           2        3
3          5            3          8  ...                  2           3        5
4          5            2          3  ...                  3           0        1

[5 rows x 22 columns]

In [68]:
from sklearn.naive_bayes import CategoricalNB
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
model_nominal = CategoricalNB()
model_nominal.fit(X,y)
model_nominal.score(X_test,y_test)

0.9538461538461539

In [71]:
print("--                --CATEGORICAL NAIVE BAYES MODEL--                     --")
print("\nTRAIN ACCURACY : {}".format(model_nominal.score(X_train,y_train)))
print("\nTEST ACCURACY : {}".format(model_nominal.score(X_test,y_test)))

--                --CATEGORICAL NAIVE BAYES MODEL--                     --

TRAIN ACCURACY : 0.9573780581627943

TEST ACCURACY : 0.9538461538461539

In [72]:
from sklearn.metrics import confusion_matrix
y_pred_nominal = model_nominal.predict(X_test)
confusion_matrix(y_test,y_pred_nominal)

array([[839,   4],
       [ 71, 711]])