In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv(r"Boston.csv");

In [3]:
data.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
data.shape

(506, 15)

In [5]:
X = data.drop(['Unnamed: 0','rad'],axis=1)
y = data['rad']

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [7]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [8]:
print("TEST SCORE : {} %".format(model.score(X_test,y_test)*100))

TEST SCORE : 86.063717226511 %

In [9]:
from sklearn.linear_model import Ridge

model_2 = Ridge(alpha = 0.5)
model_2.fit(X_train,y_train)
model_2.score(X_test,y_test)

0.8584099749597693

In [10]:
from sklearn.linear_model import Lasso

model_3 = Lasso(alpha=0.5,max_iter=10000)
model_3.fit(X_train,y_train)
model_3.score(X_test,y_test)

0.8507162130228321

### 2) Generating a synthetic dataset for regression using make_regression function.

In [11]:
from sklearn.linear_model import Ridge
from sklearn.datasets import make_regression
X, y = make_regression(n_samples=1000, n_features=10,n_informative=8, n_targets=1, bias=0.3)    
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   random_state = 40)
#linreg = LinearRegression().fit(X_train, y_train)
linreg = Ridge(alpha=10.0).fit(X_train, y_train)

print('Synthetic dataset')
print('ridge regression linear model intercept: {:.3f}'
     .format(linreg.intercept_))
print('coefficients')
print([ "{:0.4f}".format(x) for x in linreg.coef_ ])
#print('ridge regression linear model coeff:\n {}'
   #  .format(linreg.coef_))
print('R-squared score (training): {:.3f}'
     .format(linreg.score(X_train, y_train)))
print('R-squared score (test): {:.3f}'
     .format(linreg.score(X_test, y_test)))
print('Number of non-zero features: {}'
     .format(np.sum(linreg.coef_ != 0)))

Synthetic dataset
ridge regression linear model intercept: 0.122
coefficients
['-0.0633', '78.3623', '81.6404', '5.5753', '0.0370', '37.8719', '62.2524', '84.8525', '81.5974', '7.3367']
R-squared score (training): 1.000
R-squared score (test): 1.000
Number of non-zero features: 10

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

from sklearn.linear_model import Ridge
#X_train, X_test, y_train, y_test = train_test_split(X_crime, y_crime,
                                                   #random_state = 0)

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

linridge = Ridge(alpha=20.0).fit(X_train_scaled, y_train)

print('Synthetic Data')
print('ridge regression linear model intercept: {}'
     .format(linridge.intercept_))
print('ridge regression linear model coeff:\n{}'
     .format(linridge.coef_))
print('R-squared score (training): {:.3f}'
     .format(linridge.score(X_train_scaled, y_train)))
print('R-squared score (test): {:.3f}'
     .format(linridge.score(X_test_scaled, y_test)))
print('Number of non-zero features: {}'
     .format(np.sum(linridge.coef_ != 0)))

Synthetic Data
ridge regression linear model intercept: -668.4736863779525
ridge regression linear model coeff:
[ -5.9152403  225.27593509 262.27646198  23.23179038   7.5994119
 136.20248662 181.41075327 250.94904833 243.15892487  10.03507914]
R-squared score (training): 0.717
R-squared score (test): 0.715
Number of non-zero features: 10